<nav>
  <ul>
    <li>
      Home
    </li>
    <li>
      About
    </li>
    <li>
      Services
    </li>
    <li>
      Blog
    </li>
    <li>
      Projects
    </li>
    <li>
      Contact
    </li>
    <li style="color:red">
      Login
    </li>
  </ul>
</nav>